@import url('https://fonts.googleapis.com/css?family=Gruppo');


/* Vars */

* {
	--colour-green: #a4d05f;
	--colour-green-darker: #8eb550;
	--colour-green-darkest: #425425;
	--colour-green-darkest-alpha: rgba(66, 84, 37, 0.5);

	--colour-red: #e0796e;
	--colour-red-darker: #c2685e;
	--colour-red-darkest: #6c3a35;
	--colour-red-darkest-alpha: rgba(108, 58, 53, 0.5);

	--color-gray: rgb(128, 128, 128);

	--colour-yellow: #fff191;

	--colour-blue: #25a2a6;
	--colour-blue: #25a2a6;
}

/* GENERAL */

* {
	font-family: 'Gruppo', 'sans-saerif';
}

html {
    font-size: 20px;
		margin-bottom: 2rem;
}

@media(max-width: 980px) {
  html {
    font-size: 24px;
  }
}

h1 {
	text-align: center;
	font-size: 5rem;
	margin: 2rem 0 1rem;
	font-weight: normal;
}

.center {
	text-align: center;
	margin: 0 auto;
}

.hidden {
	display: none !important;
}

/* MENU */

#main-menu {
	margin-top: 3rem;
	list-style-type: none;
	padding: 0;
}

#main-menu li {
	margin-top: 1rem;
}

.btn {
	--offset: 0.35rem;
	--offset-inv: -0.35rem;

	font-size: 2rem;
	width: 20rem;

	background-color: var(--colour-green);
	border-radius: .4rem;
	border: none;
	padding: 1rem;
	box-shadow: inset 0 0 1px 3px var(--colour-green-darker), 0 var(--offset) 0 var(--colour-green-darkest), 0 var(--offset) var(--offset) var(--colour-green-darkest-alpha);
	font-weight: bold;
	cursor: pointer;
	text-shadow: 2px 2px 1px var(--colour-green-darker);
}

.btn:active {
	margin-top: var(--offset);
	box-shadow: inset 0 0 1px 3px var(--colour-green-darker), 0 2px 0 var(--colour-green-darkest), 0 var(--offset) var(--offset) var(--colour-green-darkest-alpha);
	margin-bottom: var(--offset-inv);
}

.btn:active, .btn:focus {
	outline: none;
}

.btn:disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

.btn-small {
	font-size: 1rem;
	width: auto;
}

.btn-red {
	background-color: var(--colour-red);
	box-shadow: inset 0 0 1px 3px var(--colour-red-darker), 0 var(--offset) 0 var(--colour-red-darkest), 0 var(--offset) var(--offset) var(--colour-red-darkest-alpha);
	text-shadow: 2px 2px 1px var(--colour-red-darker);
}

.btn-red:active {
	box-shadow: inset 0 0 1px 3px var(--colour-red-darker), 0 2px 0 var(--colour-red-darkest), 0 var(--offset) var(--offset) var(--colour-red-darkest-alpha);
}


/* RULES */

#rules {
	font-size: 1.5rem;
	padding: 1.5rem;
	font-weight: bold;
}

#rules ol {
	padding: 0.5rem;
	line-height: 2rem;
}

#rules li {
	list-style-position:inside;
}

/* GAME */

#game {
	width: 100%;
	position: relative;
	display: inline-block;
}

#game-grid {
	border-collapse: collapse;
	margin: 0 auto;
}

.game-cell {
	--size: 5rem;

	border-width: 3px;
	border-color: var(--colour-gray);
	border-style: solid;
	width: var(--size);
	height: var(--size);
	text-align: center;
}
/* transition opacity of figures */

.game-cell:after {
	transition: opacity ease .5s;
}

.game-cell-selected {
	background-color: var(--colour-yellow);
}

.token-red:after {
	font-family: "Font Awesome 5 Free";
	content: "\f0c8";
	/*content: "\f443";*/
	font-weight: 900;
	font-size: 3rem;
	color: #dd5444;
	opacity: 0.65;
}

.token-blue:after {
	font-family: "Font Awesome 5 Free";
	content: "\f0c8";
	font-weight: 900;
	font-size: 3rem;
	color: #3076ff;
	opacity: 0.65;
}

.can-move {
	/* box-shadow: inset 0 0 8px 6px var(--colour-yellow); */
}

.can-move:after {
	opacity: 1;
}

.clickable {
	cursor: grab;
}

#turn-indicator {
	text-align: center;
	font-size: 2rem;
	margin: 0;
	margin-bottom: 0.5rem;
	font-family: 'Gruppo', sans-serif;
}

#local-controls {
	padding-top: 1rem;
	width: 30rem;
	font-size: 1.5rem;
}


#game-ui select {
	width: 10rem;
	height: 2.5rem;
	font-size: 2rem;
	border: 1px solid;
	border-color: var(--colour-gray);
	background-color: white;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	outline: none;
	padding: 0.1rem;
}

#game-ui option {
	font-size: 1.5rem;
}

#btn-exit-game {
	position: absolute;
	top: 6rem;
	left: 1rem;
}

#server-own-player {
	font-size: 1.25rem;
	margin-top: 0.5rem;
}

#local-btns {
	padding-top: 2rem;
}


/* Spinner */
.lds-dual-ring {
	--size: 10rem;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
  display: inline-block;
  width: var(--size);
  height: var(--size);
}
.lds-dual-ring:after {
	--spinner-colour: var(--colour-blue);
  content: " ";
  display: block;
  width: var(--size);
  height: var(--size);
  margin-left: -10px;
  border-radius: 50%;
  border: 10px solid var(--spinner-colour);
  border-color: var(--spinner-colour) transparent var(--spinner-colour) transparent;
  animation: lds-dual-ring 2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Test AI  */
.tf-nc {
	padding: 2px !important;
}

.tf-tree li {
	padding: 0 0.1em !important;
}